{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    
            {% if current_page.url != base_url ~ '/analysis' %}
            <div class="analysis-spec">
        
                <aside class="analysis-sidebar">
                    <h2><a href="{{ base_url }}/analysis">Rapporter: </a> </h2>
                <div>
                {% for page in pages("analysis") %}
                <h3><a href="{{ page.url }}">
                    <i class=" {{ page.meta.Icon }}"></i> 
                {{ page.title }} 
                </a></h3>

                {% endfor %}
                </div>
                </aside>


                 <article class="analysis-content">
                 {{content}}
                </article>
            </div>

       {% else %}
            <div class="analysis-landing">
                <article class="analysis-content">
                    {{ content }}
                </article>
            </div>
        {% endif %}
            </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>
</html>
