{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    
            {% if current_page.url != base_url ~ '/analysis' %}
            <div class="analysis-spec">
        
                <aside class="analysis-sidebar">
                    <h2><a href="{{ base_url }}/analysis">Rapporter: </a> </h2>
                <div class="sidebar-links">

                {% for page in pages("analysis") %}
                <p>
                <a href="{{ page.url }}">
                
                    <img src="{{ assets_url }}/svg/{{ page.meta.Icon }}.svg" class="icon" alt="{{ page.description }}">
                {{ page.title }} 
              
                </a>
                </p>
                {% endfor %}
                </div>
                </aside>
                
                 <article class="analysis-content">
                    {% set content_with_blank = content|replace({'<a href="http': '<a target="_blank" href="http'}) %}
                        {{ content_with_blank|raw }}
                </article>
            </div>

       {% else %}
            <div class="analysis-landing">
                <article class="analysis-content">
                {{ content }}
                </article>
            </div>
        {% endif %}
            </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>
</html>
