{% set pictures = [
    "january.jpg",
    "february.jpg", 
    "march.jpg",
    "april.jpg",
    "may.jpg", 
    "june.jpg", 
    "july.jpg", 
    "august.jpg", 
    "september.jpg", 
    "october.jpg", 
    "november.jpg", 
    "december.jpg",
] %}

{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
<article class="gallery">
        <h1> <i class="fas fa-camera"></i> Galleri </h1>
<p>Dessa bilder från Pixabay använde jag i den föregående kursen, webtec - då skalade jag dock om alla för att vara i korrekt storlek på en gång. Det har jag inte gjort på alla den här gången utan vissa är fortfarande i sin originalstorlek. </p>
       
       
       <div class="gallery-grid">
            {% for pic in pictures %}
                <a href="{{ base_url }}/image/gallery/{{ pic }}" target="_blank">
                   <picture>

                    <source media="(min-width: 768px)"  
                        srcset="{{ base_url }}/image/gallery/{{ pic }}?w=400 400w, 
                                {{ base_url }}/image/gallery/{{ pic }}?w=800 800w"
                                sizes="(min-width: 768px) calc((100vw - 2em) / 3)">

                    <source media="(max-width: 767px)" 
                        srcset="{{ base_url }}/image/gallery/{{ pic }}?w=480% 480w, 
                                {{ base_url }}/image/gallery/{{ pic }}?w=320 320w"
                                sizes="(max-width: 767px) 80vw">
                    <img 
                    src="{{ base_url }}/image/gallery/{{ pic }}" 
                    alt="Picture representing the month of {{ pic|split('.')|first|capitalize }}" 
                    >
                </picture>
                </a>
            {% endfor %}
        </div>
        </article>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>
</html>
